<launch>

    <!-- TODO: Add a node tag to launch image_pipeline_A.py node. -->
    <!-- Hint: Review the usb_cam launch file. -->

    <!-- TODO: Extra credit. Add include tag to this file to launch usb_cam launch file. -->
    <!-- Hint: https://answers.ros.org/question/266857/using-roslaunch-to-launch-ros-nodes/ -->

</launch>
